<th:block th:fragment="header">
    <header>
        <nav class="navbar bg-navbar">
            <div class="container-fluid">
                <h2>List of customers</h2>
                <div class="d-flex">
                    <button class="btn btn-outline-light">
                        <i class="fas fa-history"></i>
                        Transfer histories
                    </button>
                    <button class="btn btn-outline-light" id="btnShowModalCreate">
                        <i class="fas fa-user-plus"></i>
                        Add New Customer
                    </button>
                </div>
            </div>
        </nav>
    </header>
</th:block>