<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of customers</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fontawesome-v5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/assets/web-toast/src/webToast.css">
    <link rel="stylesheet" href="/assets/css/style-custom.css">
</head>

<body>
    <div class="container-fluid">
        <th:block th:replace="customer/header" />

        <div class="content">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>FullName</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Balance</th>
                    <th>Province</th>
                    <th>District</th>
                    <th>Ward</th>
                    <th>Address</th>
                    <th colspan="5" class="text-center">Action</th>
                </tr>
                </thead>
                <tbody id="tbCustomerBody">
                <!-- <tr>
                    <td>1</td>
                    <td>Mark</td>
                    <td>Mark@co.cc</td>
                    <td>28 Nguyễn Tri Phương</td>
                    <td>10.000</td>
                    <td>
                        <button class="btn btn-outline-secondary">
                            <i class="fas fa-user-edit"></i>
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-outline-success">
                            <i class="fas fa-plus"></i>
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-outline-warning">
                            <i class="fas fa-minus"></i>
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-outline-primary">
                            <i class="fas fa-exchange-alt"></i>
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-outline-danger">
                            <i class="fas fa-user-slash"></i>
                        </button>
                    </td>
                </tr> -->
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal Create -->
    <th:block th:replace="customer/modalCreate" />

    <!-- Modal Update -->
    <th:block th:replace="customer/modalUpdate" />

    <script src="/assets/jquery/jquery-3.5.1.min.js"></script>
    <script src="/assets/jquery/jquery.validate.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/web-toast/src/webToast.js"></script>
    <script src="/assets/js/app-base.js"></script>

    <script>

        const page = {
            urls: {
                getAllCustomers: AppBase.API_CUSTOMER,
                getCustomerById: AppBase.API_CUSTOMER,
                createCustomer: AppBase.API_CUSTOMER
            },
            elements: {},
            loadData: {},
            commands: {}
        }

        let locationRegion = new LocationRegion();
        let customer = new Customer();

        page.elements.btnShowModalCreate = $('#btnShowModalCreate');
        page.elements.modalCreate = $('#modalCreate');
        page.elements.fullNameCre = $('#fullNameCre');
        page.elements.emailCre = $('#emailCre');
        page.elements.phoneCre = $('#phoneCre');
        page.elements.balanceCre = $('#balanceCre');
        page.elements.provinceCre = $('#provinceCre');
        page.elements.districtCre = $('#districtCre');
        page.elements.wardCre = $('#wardCre');
        page.elements.addressCre = $('#addressCre');
        page.elements.btnCreate = $('#btnCreate');

        page.elements.modalUpdate = $('#modalUpdate');
        page.elements.fullNameUp = $('#fullNameUp');
        page.elements.emailUp = $('#emailUp');
        page.elements.phoneUp = $('#phoneUp');
        page.elements.balanceUp = $('#balanceUp');
        page.elements.provinceUp = $('#provinceUp');
        page.elements.districtUp = $('#districtUp');
        page.elements.wardUp = $('#wardUp');
        page.elements.addressUp = $('#addressUp');
        page.elements.btnUpdate = $('#btnUpdate');


        page.commands.getAllProvinces = () => {
            return $.ajax({
                url: 'https://vapi.vnappmob.com/api/province/'
            })
                .done((data) => {
                    const provinces = data.results;

                    $.each(provinces, (index, item) => {
                        const str = renderOptionProvince(item);
                        page.elements.provinceCre.append(str);
                        page.elements.provinceUp.append(str);
                    })
                })
                .fail((error) => {
                    console.log(error);
                })
        }

        page.commands.getAllDistrictsByProvinceId = (provinceId, elem) => {
            return $.ajax({
                url: 'https://vapi.vnappmob.com/api/province/district/' + provinceId
            })
                .done((data) => {
                    const districts = data.results;

                    elem.empty();

                    $.each(districts, (index, item) => {
                        const str = renderOptionDistrict(item);
                        elem.append(str);
                    })
                })
                .fail((error) => {
                    console.log(error);
                })
        }

        page.commands.getAllWardsByDistrictId = (districtId, elem) => {
            return $.ajax({
                url: 'https://vapi.vnappmob.com/api/province/ward/' + districtId
            })
                .done((data) => {
                    const wards = data.results;

                    elem.empty();

                    $.each(wards, (index, item) => {
                        const str = renderOptionWard(item);
                        elem.append(str);
                    })
                })
                .fail((error) => {
                    console.log(error);
                })
        }

        const renderOptionProvince = (obj) => {
            return `<option value="${obj.province_id}">${obj.province_name}</option>`;
        }

        const renderOptionDistrict = (obj) => {
            return `<option value="${obj.district_id}">${obj.district_name}</option>`;
        }

        const renderOptionWard = (obj) => {
            return `<option value="${obj.ward_id}">${obj.ward_name}</option>`;
        }

        const renderCustomer = (obj) => {
            return `
                    <tr id="tr_${obj.id}">
                        <td>${obj.id}</td>
                        <td>${obj.fullName}</td>
                        <td>${obj.email}</td>
                        <td>${obj.phone}</td>
                        <td>${obj.balance}</td>
                        <td>${obj.locationRegion.provinceName}</td>
                        <td>${obj.locationRegion.districtName}</td>
                        <td>${obj.locationRegion.wardName}</td>
                        <td>${obj.locationRegion.address}</td>
                        <td>
                            <button class="btn btn-outline-secondary edit" data-id="${obj.id}">
                                <i class="fas fa-user-edit"></i>
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-outline-success">
                                <i class="fas fa-plus"></i>
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-outline-warning">
                                <i class="fas fa-minus"></i>
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-outline-primary">
                                <i class="fas fa-exchange-alt"></i>
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-outline-danger">
                                <i class="fas fa-user-slash"></i>
                            </button>
                        </td>
                    </tr>
                `;
        }


        page.elements.provinceCre.on('change', function () {
            const provinceId = $(this).val();

            page.commands.getAllDistrictsByProvinceId(provinceId, page.elements.districtCre).then((data) => {
                const districtId = page.elements.districtCre.val();

                page.commands.getAllWardsByDistrictId(districtId, page.elements.wardCre);
            });
        })

        page.elements.provinceUp.on('change', function () {
            const provinceId = $(this).val();

            page.commands.getAllDistrictsByProvinceId(provinceId, page.elements.districtUp).then((data) => {
                const districtId = page.elements.districtUp.val();

                page.commands.getAllWardsByDistrictId(districtId, page.elements.wardUp);
            });
        })

        page.elements.districtCre.on('change', function () {
            const districtId = $(this).val();
            page.commands.getAllWardsByDistrictId(districtId, page.elements.wardCre);
        })

        page.elements.districtUp.on('change', function () {
            const districtId = $(this).val();
            page.commands.getAllWardsByDistrictId(districtId, page.elements.wardUp);
        })

        const strBody = $('#tbCustomerBody')

        page.commands.getAllCustomers = () => {
            return $.ajax({
                type: 'get',
                url: page.urls.getAllCustomers,
                success: function (res) {
                    strBody.empty();

                    $.each(res, (index, item) => {
                        const str = renderCustomer(item);
                        $(strBody).prepend(str);
                    })
                }, error: function () {
                    alert('Error');
                }
            });
        }

        page.commands.handleClickAllEditButton = () => {
            $('#tbCustomerBody').on('click', '.edit', function () {
                const id = $(this).data('id');
                $.ajax({
                    url: page.urls.getCustomerById + '/' + id
                })
                    .done((data) => {
                        if (Object.keys(data).length > 0) {

                            // $.each(data, (k, v) => {
                            //     $('#' + k + 'Up').val(v);
                            // })

                            customer = data;
                            locationRegion = customer.locationRegion;

                            page.commands.getAllDistrictsByProvinceId(locationRegion.provinceId, page.elements.districtUp).then((data) => {
                                $('#districtUp').val(locationRegion.districtId);

                                page.commands.getAllWardsByDistrictId(locationRegion.districtId, page.elements.wardUp).then((data) => {
                                    $('#wardUp').val(locationRegion.wardId);
                                });
                            });

                            $('#idUp').val(customer.id);
                            $('#fullNameUp').val(customer.fullName);
                            $('#emailUp').val(customer.email);
                            $('#phoneUp').val(customer.phone);

                            $('#provinceUp').val(locationRegion.provinceId);


                            $('#addressUp').val(locationRegion.address);

                            $('#modalUpdate').modal('show');
                        }
                        else {
                            alert('Say No');
                        }
                    })
                    .fail((error) => {
                        console.log(error);
                    })

            })
        }

        page.commands.handleCreateCustomer = () => {
            page.elements.btnCreate.attr('disabled', true);

            let load = webToast.loading({
                status: 'Loading...',
                message: 'Please Wait a moment',
                align: 'bottomright',
                line: true,
            });

            locationRegion.id = null;
            locationRegion.provinceId = page.elements.provinceCre.val();
            locationRegion.provinceName = page.elements.provinceCre.find('option:selected').text();
            locationRegion.districtId = page.elements.districtCre.val();
            locationRegion.districtName = page.elements.districtCre.find('option:selected').text();
            locationRegion.wardId = page.elements.wardCre.val();
            locationRegion.wardName = page.elements.wardCre.find('option:selected').text();
            locationRegion.address = page.elements.addressCre.val();

            customer.id = null;
            customer.fullName = page.elements.fullNameCre.val();
            customer.email = page.elements.emailCre.val();
            customer.phone = page.elements.phoneCre.val();
            customer.locationRegion = locationRegion;
            customer.balance = 0;
            customer.deleted = 0;

            setTimeout(() => {
                $.ajax({
                    headers: {
                        'accept': 'application/json',
                        'content-type': 'application/json'
                    },
                    type: 'POST',
                    url: page.urls.createCustomer,
                    data: JSON.stringify(customer)
                })
                    .done((data) => {
                        const str = renderCustomer(data);
                        $(strBody).prepend(str);

                        page.elements.modalCreate.modal('hide');

                        webToast.Success({
                            status: 'Thêm mới thành công',
                            message: '',
                            delay: 2000,
                            align: 'topright'
                        });

                    })
                    .fail((error) => {
                        console.log(error);
                    })
                    .always(() => {
                        page.elements.btnCreate.attr('disabled', false);
                        load.remove();
                    })
            }, 5000);
        }

        const btnUpdate = $('#btnUpdate');
        btnUpdate.on('click', () => {
            btnUpdate.attr('disabled', true);

            const customerId = $('#idUp').val();

            let load = webToast.loading({
                status: 'Loading...',
                message: 'Please Wait a moment',
                align: 'bottomright',
                line: true,
            });

            const obj = {
                fullName: $('#fullNameUp').val(),
                email: $('#emailUp').val(),
                phone: $('#phoneUp').val(),
                address: $('#addressUp').val()
            }

            setTimeout(() => {
                $.ajax({
                    headers: {
                        'accept': 'application/json',
                        'conetent-type': 'application/json'
                    },
                    type: 'PATCH',
                    url: 'http://localhost:3300/customers/' + customerId,
                    data: obj
                })
                    .done((data) => {
                        const str = renderCustomer(data);
                        const currentRow = $('#tr_' + customerId);
                        currentRow.replaceWith(str);

                        $('#modalUpdate').modal('hide');

                        webToast.Success({
                            status: 'Cập nhật thành công',
                            message: '',
                            delay: 2000,
                            align: 'topright'
                        });

                    })
                    .fail((error) => {
                        console.log(error);
                    })
                    .always(() => {
                        btnUpdate.attr('disabled', false);
                        load.remove();
                    })
            }, 5000);
        })

        $('#frmCreate').validate({
            rules: {
                fullNameCre: {
                    required: true,
                    minlength: 5,
                    maxlength: 25
                },
                emailCre: {
                    required: true,
                    isEmail: true
                },
                phoneCre: {
                    required: true,
                    isNumberWithSpace: true
                }
            },
            messages: {
                fullNameCre: {
                    required: 'Vui lòng nhập họ tên đầy đủ',
                    minlength: 'Họ tên tối thiểu là 5 ký tự',
                    maxlength: 'Họ tên tối đa là 25 ký tự'
                },
                emailCre: {
                    required: 'Vui lòng nhập email đầy đủ',
                },
                phoneCre: {
                    required: 'Vui lòng nhập phone đầy đủ',
                }
            },
            submitHandler: function () {
                page.commands.handleCreateCustomer();
            }
        })

        $.validator.addMethod("isEmail", function (value, element) {
            return this.optional(element) || /[a-z]+@[a-z]+\.[a-z]+/.test(value);
        }, "Vui lòng nhập đúng định dạng email");

        $.validator.addMethod("isNumberWithSpace", function (value, element) {
            return this.optional(element) || /^\s*[0-9,\s]+\s*$/i.test(value);
        }, "Vui lòng nhập giá trị số");

        page.initializeControlEvent = () => {
            page.commands.handleClickAllEditButton();

            page.elements.btnShowModalCreate.on('click', () => {
                page.elements.modalCreate.modal('show');
            })

            page.elements.btnCreate.on('click', () => {
                // page.commands.handleCreateCustomer();
                $('#frmCreate').trigger('submit');
            })
        }

        page.loadData = () => {
            page.commands.getAllCustomers();

            page.commands.getAllProvinces().then((data) => {
                const provinceId = page.elements.provinceCre.val();

                page.commands.getAllDistrictsByProvinceId(provinceId, page.elements.districtCre).then((data) => {
                    const districtId = page.elements.districtCre.val();
                    page.commands.getAllWardsByDistrictId(districtId, page.elements.wardCre);
                })
            })
        }

        $(() => {
            page.loadData();

            page.initializeControlEvent();
        })


    </script>

</body>

</html>