<th:block th:fragment="modalDeposit">
    <div class="modal fade" id="modalDeposit" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Modal deposit</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="error-area mb-3 hide"></div>
                    <form id="frmDeposit" method="post">
                        <div class="row">
                            <input type="hidden" id="idDep">
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-6">
                                <label class="col-form-label" for="fullNameDep">FullName</label>
                                <input type="text" id="fullNameDep" name="fullNameDep" class="form-control" disabled>
                            </div>
                            <div class="col-lg-6">
                                <label class="col-form-label" for="emailDep">Email</label>
                                <input type="email" id="emailDep" name="emailDep" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-6">
                                <label class="col-form-label" for="balanceDep">Balance</label>
                                <input type="text" id="balanceDep" name="balanceDep" class="form-control" disabled>
                            </div>
                            <div class="col-lg-6">
                                <label class="col-form-label" for="transactionAmountDep">Transaction Amount</label>
                                <input type="text" id="transactionAmountDep" name="transactionAmountDep" class="form-control">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="btnDeposit">Deposit</button>
                </div>
            </div>
        </div>
    </div>
</th:block>